<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body>
    <div>
      <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create user</a>
      </div>
      <div class="form-container">
        <form action="/create-user" method="post">
          <h2>add new user</h2>
          <label for="name">Name:</label>
          <input type="text" id="name_id" name="name" required />

          <label for="email">Email:</label>
          <input type="email" id="email_id" name="email" required />

          <label for="city">City:</label>
          <input type="text" id="city_id" name="city" required />

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
